@using Type = TourAgency.Models.Type
@model TourAgency.Models.Tour
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tour creation</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<script>
    function showHideHot() {
        var hot = document.getElementById("hot");
        hot.hidden = !hot.hidden;
        if (hot.hidden === true) {
            document.getElementById("hotDiscount").value = 0;
        }
//        document.getElementById("isHot").value = hot.hidden;
    }
</script>
<body>
<div class="container align-items-center"  style="width: 80vh">
    <div class="row align-items-center" style="height: 100vh;">
        <div class="col ">
            <h1 align="center">New tour</h1>
            @using (Html.BeginForm("addTour", "Tour", FormMethod.Post)) {
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Type</span>
                    </div>
                    @{
                        List<SelectListItem> selectList = new List<SelectListItem>();
                        foreach (Type type in (List<Type>) ViewData.Eval("types")) {
                            selectList.Add(new SelectListItem(type.name, type.name));
                        }
                    }
                    @Html.DropDownListFor(t => t.type, selectList, new{@class="form-control"})
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Tour start date</span>
                    </div>
                    <input class="form-control" type="date" name="fromDate" required>
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Tour duration (days)</span>
                    </div>
                    <input class="form-control" min="1" max="30" type="number" name="duration" value="1" required>
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Is hot</span>
                    </div>
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <input type="checkbox" id="isHot" name="isHot" value="true" onclick='showHideHot()'>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-2" id="hot" hidden="true">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Hot discount (%)</span>
                    </div>
                    <input class="form-control" id="hotDiscount" type="number" min="0" max="99" name="hotDiscount" value="0" required>
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Discount for regular customers (%)</span>
                    </div>
                    <input class="form-control" type="number" min="0" max="99" name="discount" value="0" required>
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Base price</span>
                    </div>
                    <input class="form-control" type="number" min="1" name="price" value="1" required>
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Quantity of tours</span>
                    </div>
                    <input class="form-control" type="number" min="1" max="9999" value="1" name="maxAmountOfPeople" required>
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Place</span>
                    </div>
                    <input class="form-control" type="text" name="place" required>
                </div>
                <div class="input-group mb-2">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Description</span>
                    </div>
                    <textarea class="form-control" type="text" name="description"></textarea>
                </div>
                <div align="center">
                    <input type="submit" class="btn btn-info" value="Add tour">
                    <input type="button" class="btn btn-info" value="Cancel" onclick='location.href = "/tours"'>
                </div>
            }
        </div>
    </div>
</div>

</body>
</html>