<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tour add</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>

<body>

<div class="container-fluid" align="center">
    <h1>Tour add</h1>

    <form:form action="/add_tour" modelAttribute="tour" method="POST">
        <table class="table-borderless">
            <tr>
                <td><label style="margin: 5px 5px 5px">Type*:</label></td>
                <td><select style="margin: 5px 5px 5px" name="type">
                    <option>Empty</option>
                </select></td>
            </tr>

            <tr>
                <td><label style="margin: 5px 5px 5px"><spring:message code="lang.tour_start_date"/>*:</label></td>
                <td><input style="margin: 5px 5px 5px" type="date"
                           min="0"
                           name="fromDate" required></td>
            </tr>

            <tr>
                <td><label style="margin: 5px 5px 5px"><spring:message code="lang.tour_duration"/>*:</label></td>
                <td><input style="margin: 5px 5px 5px" type="number" name="duration" required></td>
            </tr>

            <tr>
                <td><label style="margin: 5px 5px 5px"><spring:message code="lang.is_hot"/></label></td>
                <td><input style="margin: 5px 5px 5px" type="checkbox" name="isHot" value="true"></td>
            </tr>

            <tr>
                <td><label style="margin: 5px 5px 5px"><spring:message code="lang.hot_discount"/>*:</label></td>
                <td><input style="margin: 5px 5px 5px" type="number" name="hotDiscount" value="0" required></td>
            </tr>

            <tr>
                <td><label style="margin: 5px 5px 5px"><spring:message
                        code="lang.discount_for_regular_buyers"/>*:</label></td>
                <td><input style="margin: 5px 5px 5px" type="number" name="discount" value="0" required></td>
            </tr>

            <tr>
                <td><label style="margin: 5px 5px 5px"><spring:message code="lang.base_price"/>*:</label></td>
                <td><input style="margin: 5px 5px 5px" type="number" name="price" required>
                <td>
            </tr>

            <tr>
                <td><label style="margin: 5px 5px 5px"><spring:message code="lang.tours_quantity"/>*:</label></td>
                <td><input style="margin: 5px 5px 5px" type="number" name="maxAmountOfPeople" required></td>
            </tr>

            <tr>
                <td><label style="margin: 5px 5px 5px"><spring:message code="lang.place"/>*:</label></td>
                <td><input style="margin: 5px 5px 5px" type="text" name="place" required></td>
            </tr>

            <tr>
                <td><label style="margin: 5px 5px 5px"><spring:message code="lang.description"/>:</label></td>
                <td><input style="margin: 5px 5px 5px" type="text" name="description"></td>
            </tr>
        </table>
        <input style="margin: 5px 5px 5px" type="submit" class="btn btn-info" value="Add tour">
        <input style="margin: 5px 5px 5px" type="button" class="btn btn-info" value="Cancel" onclick='location.href="/tours"'>
    </form:form>
</div>

</body>
</html>