@*<%@ page import="com.epam.studentproject.entity.Order" %>
<%@ page import="com.epam.studentproject.entity.Tour" %>
<%@ page import="com.epam.studentproject.entity.User" %>
<%@ page import="java.util.Objects" %>
<%@ taglib prefix="form" uri="http://www.springframework.org/tags/form" %>
<%@ taglib prefix="spring" uri="http://www.springframework.org/tags" %>
<%@page contentType="text/html;charset=UTF-8" %>
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Buy</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
</head>
<body>

<div class="container-fluid" style="text-align: center; margin: 5px 5px 5px">
    <h1><spring:message code="lang.order_details"/></h1>
    <table class="table table-striped table-bordered table-info">
        <tr>
            <td colspan="3">
                <%
                    User user = new User();
                    if (!Objects.isNull(request.getAttribute("user"))) {
                        user = (User) request.getAttribute("user");
                    }
                %>
                <label>Customers name: <%=user.getFirstName() + " " + user.getLastName()%></label>
            </td>
        </tr>
        <tr>
            <td>
                <%
                    Tour tour = new Tour();
                    if (!Objects.isNull(request.getAttribute("tour"))) {
                        tour = (Tour) request.getAttribute("tour");
                    }
                %>
                <label>Place: <%=tour.getPlace()%>
                </label>
            </td>
            <td colspan="2">
                <label> Description: <br> <%=tour.getDescription()%>
                </label>
            </td>
        </tr>
        <tr>
            <td>
                <label>Beginning of the tour: <%=tour.getFromDate()%></label>
            </td>
            <td>
                <%
                    Order order = new Order();
                    if (!Objects.isNull(request.getAttribute("order"))) {
                        order = (Order) request.getAttribute("order");
                    }
                %>
                <spring:message code="lang.input_amount_of_people"/>
                <%--@elvariable id="tourId" type="java.lang.Long"--%>
                <%--@elvariable id="amount_of_people" type="java.lang.Integer"--%>
                <%--@elvariable id="userId" type="java.lang.Long"--%>
                <form:form action="/create_order" method="post">
                    <input type="hidden" name="tourId" value=<%=tour.getTourId()%>>
                    <input type="text" name="amount_of_people">
                    <input type="hidden" name="userId" value=<%=user.getUserId()%>>
                    <input type="submit" class="btn btn-info" value="<spring:message code="lang.figure_final_price"/>">
                </form:form>
                <spring:message code="lang.current_amount"/>: <%=order.getAmountOfPeople()%>
                <br>
                <spring:message code="lang.max_amount"/>: <%=tour.getMaxAmountOfPeople()%>
                <br>
                <%
                    if (order.getAmountOfPeople() <= 0 || order.getAmountOfPeople() > tour.getMaxAmountOfPeople()) {
                        out.println("Input correct value more than 0 and less then " + tour.getMaxAmountOfPeople());
                    }
                %>
                <br>
            </td>
            <td>
                <spring:message code="lang.final_price"/>: <%=order.getFinalPrice()%>
            </td>
        </tr>
        <tr>
            <td colspan="3">
                <%--@elvariable id="tourId" type="java.lang.Long"--%>
                <%--@elvariable id="amount_of_people" type="java.lang.Integer"--%>
                <%--@elvariable id="userId" type="java.lang.Long"--%>
                <form:form action="/create_order_do" method="post">
                    <input type="hidden" name="tourId" value=<%=tour.getTourId()%>>
                    <input type="hidden" name="amount_of_people" value=<%=order.getAmountOfPeople()%>>
                    <input type="hidden" name="userId" value=<%=user.getUserId()%>>
                    <input type="submit" class="btn btn-success" align="right" value="Buy">
                    <input type="button" class="btn btn-info" value="<spring:message code="lang.cancel"/>"
                           onclick="location.href='/active_tours'" align="right">
                </form:form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>*@